@{
    ViewBag.Title = "About tekt";
}
<p>I am a programmer, and I design audio/visual performance systems.</p>
<p>I live in Cambridge, MA.</p>
<p>I completed a dual bachelors degree in Computer Science, and Electronic Media and Communications (EMAC) at Rensselaer Polytechnic Institute in 2009.</p>
<p>I was originally more focused on audio work, using tools such as Max/MSP, Ableton Live, Reason, and Reaktor. These days my focus has shifted more towards visual works, using tools such as VVVV and TouchDesigner.</p>